{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />
    <link
      rel="shortcut icon"
      href="{% static 'img/favicon.ico' %}"
      type="image/x-icon"
    />
    <title>CocktailsDo</title>
  </head>
  <body class="body">
    <!-- navigation section -->
    <div class="navigation">
      <div class="nav-logo">
        <a href="{% url 'base' %}">
          <h1>Cocktails<span>Do</span></h1>
        </a>
      </div>
      <div class="nav-links">
        <a href="{% url 'home' %}">Home</a>
        <a href="#">Upload</a>
        <a href="">Signup</a>
        <a href="#">login</a>
      </div>
    </div>

    <!-- Intro -->
    <div class="intro">
      <h1 class="intro-title">Browse over 100 cocktail recipes!</h1>
    </div>

    <!-- list of all drinks section -->
    <div class="drink-list-container">
      <!-- if -->
      {% if drinksdb %}
      <!-- if -->
      <!-- for -->
      {% for drinks in drinksdb %}
      <!-- for -->
      <div class="drink-item-container">
        <img src="{{ drinks.drink_image.url }}" alt="" />
        <div class="drink-item-name">
          <a href="{% url 'details' drinks.id %}">{{ drinks.drink_name }}</a>
        </div>
      </div>
      <!-- endfor -->
      {% endfor %}
      <!-- endfor -->
      <!-- else -->
      {% else %}
      <!-- else -->
      <!-- endif -->
      {% endif %}
      <!-- endif -->
    </div>

    <!-- footer section -->
    <div class="footer">
      <div class="nav-logo">
        <p>Copyright © 2021 Freedom Loisa | kitakayaloisa@gmail.com</p>
      </div>
    </div>
  </body>
</html>
