@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Dancing+Script&family=Lobster&family=Raleway&family=Tajawal&display=swap");

/* fonts to be used */
/* 
font-family: 'Comforter Brush', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Lobster', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Tajawal', sans-serif;
*/

/* 
##############################################
*/

/* 
Begin base.html styling
*/

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  font-family: "Tajawal", sans-serif;
}

.base-home {
  background-image: url("../img/base_home_wallpaper_2.jpg");
  background-attachment: scroll;
  background-repeat: no-repeat;
  padding-top: 110px;
  padding-bottom: 100px;
  background-size: cover;
}

.base-nav {
  background-color: rgba(169, 169, 169, 0.37);
  padding-top: 30px;
  padding-bottom: 70px;
}

.base-logo,
.base-link,
.base-title {
  padding: 25px 130px;
}

.base-title {
  font-family: "Raleway", sans-serif;
}

.base-logo {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  font-size: 64px;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff;
}

.base-logo:hover {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 10px #fff;
  cursor: pointer;
}

.base-logo span {
  color: #eca62e;
}

.base-nav a {
  text-decoration: none;
  color: black;
}

.base-link img {
  height: 48px;
  width: 48px;
}

/* 
End base.html styling
*/

/* 
#############################################
*/

/* 
Beginning of universal section
*/

/* 
Navigation section
*/

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #37373d;
}

.nav-links a,
.navigation a {
  text-decoration: none;
  color: black;
}

.nav-logo a {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff;
}

.nav-logo a:hover {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;
}

.nav-links a:hover {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff;
}

.nav-logo {
  font-family: "Dancing Script", cursive;
  padding: 0 10px;
}

.nav-logo span {
  color: #eca62e;
}

.nav-links {
  text-align: center;
  padding: 32px 0;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin-right: 10px;
}

.nav-links a {
  padding: 20px 10px;
}

.body {
  background-image: url("../img/body_background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

/* 
Footer section
*/

.footer {
  width: 100%;
  background-color: #37373d;
  text-align: center;
  padding: 20px 0;
}

.footer p {
    font-weight: bold;
}

/* 
End of universal section
*/

/* 
#############################################################
*/

/* 
Beginning index.html styling
*/

.drink-list-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: center;
  background-color: rgba(231, 231, 231, 0.651);
  border: 2px solid #37373d;
  width: 95%;
  margin: auto;
}

.drink-item-container {
  padding-top: 20px;
  margin: 40px 0;
  padding-bottom: 20px;
  border: 1px solid black;
  margin: 10px 10px;
  border-radius: 5px;
}

.drink-item-container img {
  height: 380px;
  width: 260px;
}

.drink-item-container img:hover {
  cursor: pointer;
}

.drink-item-name {
  padding: 20px 0;
  margin: 0 20px;
  background-color: #37373d;
  border: 1px solid black;
  cursor: pointer;
}

.drink-item-name a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
}

.drink-item-name a:hover {
  text-decoration: underline;
}
